In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../Conjuntos de dados/Data.csv")

In [3]:
df

,Std,ID,Material,Heat treatment,Su,Sy,A5,Bhn,E,G,mu,Ro,pH,Desc,HV
0,ANSI,D8894772B88F495093C43AF905AB6373,Steel SAE 1015,as-rolled,421,314,39.0,126.0,207000,79000,0.30,7860,NaN,NaN,NaN
1,ANSI,05982AC66F064F9EBC709E7A4164613A,Steel SAE 1015,normalized,424,324,37.0,121.0,207000,79000,0.30,7860,NaN,NaN,NaN
2,ANSI,356D6E63FF9A49A3AB23BF66BAC85DC3,Steel SAE 1015,annealed,386,284,37.0,111.0,207000,79000,0.30,7860,NaN,NaN,NaN
3,ANSI,1C758F8714AC4E0D9BD8D8AE1625AECD,Steel SAE 1020,as-rolled,448,331,36.0,143.0,207000,79000,0.30,7860,NaN,NaN,NaN
4,ANSI,DCE10036FC1946FC8C9108D598D116AD,Steel SAE 1020,normalized,441,346,35.8,131.0,207000,79000,0.30,7860,550.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1547,JIS,512A80EC21EA416BA2725B38BA8096EF,Nodular cast iron,NaN,600,370,NaN,NaN,169000,70000,0.20,7160,480.0,Nodular cast iron,210.0
1548,JIS,38526441BA8741CA979DBF870D0B8A9B,Nodular cast iron,NaN,700,420,NaN,NaN,169000,70000,0.20,7160,560.0,Nodular cast iron,230.0
1549,JIS,CAC03D7EB1AA45E68EFF92A2EF4C3D9B,Nodular cast iron,NaN,800,480,NaN,NaN,169000,70000,0.20,7160,600.0,Nodular cast iron,240.0
1550,JIS,45C82A36EC644F8BB6170A99ED819B62,Malleable cast iron,NaN,400,180,4.0,NaN,160000,64000,0.27,7160,300.0,Malleable cast iron,220.0
1551,JIS,BC74F870412F4DDBADDEF1063C1C079F,Malleable cast iron,NaN,500,260,4.0,NaN,160000,64000,0.27,7160,370.0,Malleable cast iron,230.0

In [4]:
df['Std'].value_counts()

Std
ANSI    622
GOST    323
CSN     172
DIN     114
ISO      91
NF       91
BS       72
JIS      67
Name: count, dtype: int64

In [5]:
lista_colunas = df.columns.tolist()
print(lista_colunas)

['Std', 'ID', 'Material', 'Heat treatment', 'Su', 'Sy', 'A5', 'Bhn', 'E', 'G', 'mu', 'Ro', 'pH', 'Desc', 'HV']

In [6]:
df = df.reindex(columns=['Su', 'Sy', 'E', 'G', 'mu', 'Ro']).reset_index(drop=True)

In [7]:
#df = df.convert_dtypes()

In [8]:
df.dtypes

Su      int64
Sy     object
E       int64
G       int64
mu    float64
Ro      int64
dtype: object

In [9]:
for i in range(len(df['Sy'])):
    sting_digito = df['Sy'][i]
    if sting_digito.isdigit() is False:
        print(df['Sy'][i])
        df = df.drop(labels=i)
    if sting_digito.isdigit():
        df.loc[i, 'Sy'] = float(df.loc[i, 'Sy'])

df = df.reset_index(drop= True)

280 max
240 max
210 max
250 max
210 max
280 max
240 max
225 max

In [10]:
df.dtypes

Su      int64
Sy     object
E       int64
G       int64
mu    float64
Ro      int64
dtype: object

In [11]:
df = df.convert_dtypes()
df.dtypes

Su      Int64
Sy      Int64
E       Int64
G       Int64
mu    Float64
Ro      Int64
dtype: object

In [12]:
df

       Su   Sy       E      G    mu    Ro
0     421  314  207000  79000   0.3  7860
1     424  324  207000  79000   0.3  7860
2     386  284  207000  79000   0.3  7860
3     448  331  207000  79000   0.3  7860
4     441  346  207000  79000   0.3  7860
...   ...  ...     ...    ...   ...   ...
1539  600  370  169000  70000   0.2  7160
1540  700  420  169000  70000   0.2  7160
1541  800  480  169000  70000   0.2  7160
1542  400  180  160000  64000  0.27  7160
1543  500  260  160000  64000  0.27  7160

[1544 rows x 6 columns]

In [13]:
df.to_pickle("Dataset.pickle")

In [14]:
pd.read_pickle("Dataset.pickle")

       Su   Sy       E      G    mu    Ro
0     421  314  207000  79000   0.3  7860
1     424  324  207000  79000   0.3  7860
2     386  284  207000  79000   0.3  7860
3     448  331  207000  79000   0.3  7860
4     441  346  207000  79000   0.3  7860
...   ...  ...     ...    ...   ...   ...
1539  600  370  169000  70000   0.2  7160
1540  700  420  169000  70000   0.2  7160
1541  800  480  169000  70000   0.2  7160
1542  400  180  160000  64000  0.27  7160
1543  500  260  160000  64000  0.27  7160

[1544 rows x 6 columns]